<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf.djplayer" >

    <!-- -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.read_external_storage" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >

        <!-- 这是欢迎界面互动-->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主活动-->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >

        </activity>

        <!-- 专门用于显示播放信息用的活动-->
        <activity
            android:name=".activity.SongPlayInfoActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:launchMode="singleTop">
        </activity>

        <!-- 登录或者注册活动-->
        <activity android:name=".activity.UserInfoActivity">

        </activity>

        <!-- 这是扫描音乐选项活动-->
        <activity
            android:name=".activity.ScanMusicActivity"
            android:label="扫描音乐">
        </activity>

        <!-- 这是选择扫描路径窗体-->
        <activity
            android:name=".activity.SelectedFileActivity"
            android:label="选择文件夹或歌曲"
            android:parentActivityName=".activity.ScanMusicActivity" >
            <!-- meta-data元素为了向下兼容-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ScanMusicActivity">
            </meta-data>
        </activity>

        <!-- 显示扫描过程用的活动-->
        <activity
            android:name=".activity.ScanningSongActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        

        <service
            android:name=".service.PlayerService"
            android:exported="false" >
        </service>


    </application>

</manifest>
