<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jf.djplayer">

    <!-- 主要权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- main模块所用"Activity"__start -->
        <!-- 欢迎界面Activity -->
        <activity android:name=".main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- main activity -->
        <activity android:name=".main.MainActivity" />
        <!-- main模块所用"Activity"__end -->


        <!-- 本地音乐 -->
        <activity android:name=".controller.localmusic.LocalMusicActivity" />

        <!-- 我的最爱 -->
        <activity android:name=".controller.myfavorite.MyFavoriteActivity" />

        <!-- 最近播放 -->
        <activity android:name=".controller.recentlyplay.RecentlyPlayActivity" />

        <!-- 播放信息 -->
        <activity
            android:name=".controller.playinfo.PlayInfoActivity"
            android:launchMode="singleTop" />

        <!-- 音乐扫描_start -->
        <!-- 扫描入口 -->
        <activity android:name=".controller.scansong.ScanSongEntranceActivity" />
        <!-- 扫描设置 -->
        <activity android:name=".controller.scansong.ScanSettingActivity" />
        <!-- 扫描过程 -->
        <!-- 音乐扫描_end -->


        <!-- 分类歌曲显示界面 -->
        <activity android:name=".controller.classifysong.ClassifySongActivity" />

        <!-- 后台控制播放用的服务 -->
        <service
            android:name=".service.PlayerService"
            android:exported="false" />

        <activity android:name=".controller.scansong.ScanningActivity"></activity>
    </application>

</manifest>